/* Styles go here */
:root{
  background-color: #090C10;
  height: 100%
}


body, #root{
  height: 100%;
  background-color: #090C10;
  overflow: hidden;
}

.videoForm{

  padding: 10px;
}

.sideBar{
  border-color: #343A40;
  margin-left: 60px;
}

.vThumb{

  width:100%;
  height:100%;
}

.padding-0{
    padding:5px;
    margin-left: 0px;
    margin-left: 0px;
}

.block{
  margin-bottom: 8px;
}

.my-nav{
  background-color: #202020;
}

.photos{
  text-decoration-color: white;
}

.l1{
  background-color: #202020;
}

.l2{
  background-color: #49505C;
}

.card-header{
  background-color: #49505C;
}
.card{
  border: none;
}

/* //Photos */

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom1 {
  transition: transform .2s; /* Animation */
}

.zoom1:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
